<div data-page="instructions" class="page navbar-fixed toolbar-fixed">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="center">
                <i class="fa fa-fw fa-question-circle"></i>&nbsp;Instructions
            </div>
            <div class="right">
                <a href="#" class="back link" data-target-view="index-1">
                    <i class="fa fa-fw fa-home"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content">
        <p>Content goes here</p>
    </div>

</div>